{% extends "core.html" %}
{% block title %}{{ project["title"] }}{% endblock title %}
{% block main %}
<section class="project_section">
    <p class="date offset_top offset_right">{{ project["date"] }}</p>
    <h2 class="subtitle_font offset_left offset_top">{{ project["title"] }}</h2>
    <p class="quote_font offset offset_left"><q>{{ project["quote"] }}</q></p>
    <img class="project_image" src="{{ url_for('.static', filename='images/'+project['image']) }}" alt="{{ project['image_alt_text'] }}">
    {% autoescape false %}
    <p class="project_details">{{ project["details"] }}</p>
    {% endautoescape %}
</section>
{% endblock main %}