{% extends "core.html" %}

{% block title %}
    Contact Confirmation
{% endblock title %}

{% block main %}
<section class="project_section">
    <div class="contact_form">
        <h2>You sent the following message:</h2>
        <p>
            <b>NAME: </b>{{ request.form["name"] }}<br>
            <b>EMAIL: </b>{{ request.form["email"] }}<br>
            <b>PHONE: </b>{{ request.form["phone"] }}<br>
            <b>MESSAGE: </b>{{ request.form["message"] }}
        </p>
    </div>
</section>
{% endblock main %}
