<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
            {{ title }}
        {% endblock title %}
    </title>

    </head>
    <body>
        <nav>
            {% for item in menu_items %}
                <a href="{{ url_for(item) }}"
                {% if item == selected %}
                     class="selected"                    
                {% endif %}
                >{{ item }}</a>
            {% endfor %}
        </nav>
    
        <main>
            {% block body %}
                {{ body }}
            {% endblock body %}
        </main>
        <footer>
            Portfolio Site Copyright Andrew Spangler 2023
        </footer>
    </body>
</html>
