<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
            {{ title }}
        {% endblock title %}
    </title>

    </head>
    <body>
        <nav>
            {% for item in menu_items %}
                <a href="{{ url_for(item) }}">{{ item }}</a>
            {% endfor %}
        </nav>
    
        <main>
            {{ body }}
        </main>
        <footer>
            Portfolio Site Copyright Andrew Spangler 2023
        </footer>
    </body>
</html>
