{% extends "core.html" %}

{% block title %}
    Index
{% endblock title %}

{% block main %}
<center>
    <article>
        <header>
            <h1 class="title_font">Andrew Spangler</h1>
            <p>IT Specialist • FOSS Software Developer • Hardware Hacker</p>
        </header>
        <p>
            A sample of my projects and creations.
            <br>
            Loads project page from json files,
            <br>
            Uses a dynamic module system to add stuff to the site
            without changing existing code.
        </p>
    </article>
</center>
{% endblock main %}
